<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje porudžbine</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija porudžbine {{data.id}}</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje porudžbine: {{data.id}}</h3>

    <form class="mat-dialog-content" #formControl="ngForm">
        <div class="form">
            <mat-form-field>
                <input matInput [matDatepicker]="datumKreiranja" placeholder="Datum kreiranja" name="DatumKreiranja" [(ngModel)] = "data.datum" [disabled] = "flag == 3" required/>
                <mat-datepicker-toggle matSuffix [for]="datumKreiranja"></mat-datepicker-toggle>
                <mat-datepicker #datumKreiranja></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput [matDatepicker]="datumIsporuke" placeholder="Datum isporuke" name="DatumIsporuke" [(ngModel)] = "data.isporuceno" [disabled] = "flag == 3" required/>
                <mat-datepicker-toggle matSuffix [for]="datumIsporuke"></mat-datepicker-toggle>
                <mat-datepicker #datumIsporuke></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Iznos" name="Iznos" [(ngModel)] = "data.iznos" [disabled] = "flag == 3"  required/>
                <span matSuffix>RSD</span>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-checkbox style="align-content: flex;"  name="Placeno" [(ngModel)] = "data.placeno" [disabled] = "flag == 3">Placeno</mat-checkbox>
        </div>

        <div class="form">
            <mat-form-field *ngIf="flag==1">
                <mat-select placeholder="Dobavljac" name="Dobavljac" [(ngModel)] = "data.dobavljac" required>
                    <mat-option *ngFor="let dobavljac of dobavljaci" [value]="dobavljac">
                        {{dobavljac.naziv}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field *ngIf="flag==2 || flag==3">
                <mat-select [compareWith]="compare" placeholder="Dobavljac" name="Dobavljac" [(ngModel)] = "data.dobavljac" [disabled] = "flag == 3" required>
                    <mat-option *ngFor="let dobavljac of dobavljaci" [value]="dobavljac">
                        {{dobavljac.naziv}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>

    <div class="mat-dialog-actions">
        <button mat-button *ngIf="flag==1" [disabled]="!formControl.valid" (click)="add()" mat-dialog-close="1" type="submit" >Sacuvaj</button>
        <button mat-button *ngIf="flag==2" [disabled]="!formControl.valid" (click)="update()" mat-dialog-close="1" type="submit">Azuriraj</button>
        <button mat-button *ngIf="flag==3" (click)="delete()" mat-dialog-close="1">Obrisi</button>
        <button mat-button (click)="cancel()">Ponisti</button>
    </div>
</div>
