<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje dobavljaca</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija dobavljaca: {{data.naziv}}</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje dobavljaca: {{data.naziv}}</h3>

    <form class="mat-dialog-content" #formControl="ngForm">
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Adresa" name="Adresa" [(ngModel)] = "data.adresa" [disabled] = "flag == 3" />
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Kontakt" name="kontakt" [(ngModel)] = "data.kontakt" [disabled] = "flag == 3" />
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Naziv" name="Naziv" [(ngModel)] = "data.naziv" [disabled] = "flag == 3"  required/>
            </mat-form-field>
        </div>
    </form>

    <div class="mat-dialog-actions">
        <button mat-button *ngIf="flag==1" [disabled]="!formControl.valid" (click)="add()" mat-dialog-close="1" type="submit" >Sacuvaj</button>
        <button mat-button *ngIf="flag==2" [disabled]="!formControl.valid" (click)="update()" mat-dialog-close="1" type="submit">Azuriraj</button>
        <button mat-button *ngIf="flag==3" (click)="delete()" mat-dialog-close="1">Obrisi</button>
        <button mat-button (click)="cancel()">Ponisti</button>
    </div>
</div>