<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje stavke porudžbine</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija stavke porudžbine {{data.id}}</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje stavke porudžbine: {{data.id}}</h3>

    <form class="mat-dialog-content" #formControl="ngForm">
        <div class="form">
            <mat-form-field *ngIf="flag==1">
                <mat-select placeholder="Artikl" name="Artikl" [(ngModel)] = "data.artikl" required>
                    <mat-option *ngFor="let artikl of artikli" [value]="artikl">
                        {{artikl.naziv}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field *ngIf="flag==2 || flag==3">
                <mat-select [compareWith]="compare"  placeholder="Artikl" name="Artikl" [(ngModel)] = "data.artikl" required>
                    <mat-option *ngFor="let artikl of artikli" [value]="artikl">
                        {{artikl.naziv}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Jedinica mere" name="JedinicaMere" 
                [(ngModel)] = "data.jedinicaMere" [disabled] = "flag == 3" required/>
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Kolicina" name="Kolicina" [(ngModel)] = "data.kolicina" [disabled] = "flag == 3"  required/>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Cena" name="Cena" [(ngModel)] = "data.cena" [disabled] = "flag == 3"  required/>
            </mat-form-field>
        </div>

    </form>

    <div class="mat-dialog-actions">
        <button mat-button *ngIf="flag==1" [disabled]="!formControl.valid" (click)="add()" mat-dialog-close="1" type="submit" >Sacuvaj</button>
        <button mat-button *ngIf="flag==2" [disabled]="!formControl.valid" (click)="update()" mat-dialog-close="1" type="submit">Azuriraj</button>
        <button mat-button *ngIf="flag==3" (click)="delete()" mat-dialog-close="1">Obrisi</button>
        <button mat-button (click)="cancel()">Ponisti</button>
    </div>
</div>

